<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flutterando.nubank_clone_desafio_21_09_19">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
